
/* readmore */
.ReadMore{
    height: 40vh;
    background-image: url(../img/banner/b19.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ReadMore h2 , p{
    color: #fff;
    font-weight: 900;
   margin: 10px;
}
/* readmore */
/* body readmore */



.bodyofreadmore .innerbofyofreadmore .innerimg{
    height: 400px;
    overflow: hidden;
    position: relative;
}





.bodyofreadmore .innerbofyofreadmore .innerimg img:hover{
  transform: scale(1.1);
}

.bodyofreadmore .innerbofyofreadmore .innerimg img{
  width: 100%;
  height: 100%;          
  object-fit: cover;    
  /* display: block; */
  transition: all 0.5s ease-in-out;     
 
}
.bodyofreadmore .innerbofyofreadmore .test{
    position: relative;
}
.bodyofreadmore .innerbofyofreadmore .test::after{
  content: "13/01";
  color: #aeaaab;
  font-size: 60px;
  font-weight: 900;
  position: absolute;
  top: -50px;
  left: 20px;
  z-index: -1;
  
}
.bodyofreadmore .innerbofyofreadmore p{
  color: #98a7ec;
  margin: 20px 0px;
}
.bodyofreadmore .innerbofyofreadmore h2{
  /* font-size: 30px; */
  font-size: clamp(25px, 5vw, 30px);
  
}

.bodyofreadmore .innerbofyofreadmore h4{
  cursor: pointer;
  position: relative;
  width: fit-content;
}
.bodyofreadmore .innerbofyofreadmore h4::after{
  content: "";
    background-color: #1a1a1a;
    width: 58px;
    height: 2px;
    position: absolute;
    right: 0;
    top: 0;
  
    transform: translate(63px, 10px);
}
