
/* hero section*/
.herosection{
  background-image: url(../img/hero4.png);
  height: 100vh;
  background-position: top 0  right 0;
  background-size: cover;
  background-repeat: no-repeat;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 80px;
}
.herosection h1{
  color: #088168;
  font-weight: 600;
}
.herosection h2{

  font-weight: 600;
}
.herosection button{
  background-image: url(../img/button.png);
  background-color: transparent;
  color: #088168;
  border: none;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
}
/* hero section*/
/* the section of cards of detils of products */
.sixcardsofthsinformationofthewepsite .cardd{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgb(0, 0, 0 , 0.2);
  padding: 5px 10px 20px 10px;}
.sixcardsofthsinformationofthewepsite .cardd:hover{
  transform: scale(1.05);
  }
.sixcardsofthsinformationofthewepsite .cardd img{
  width: 100%;
  padding: 20px;
}
.sixcardsofthsinformationofthewepsite .cardd h4{
  font-size: 15px;
background-color: #088168;
  padding: 5px;
  border-radius: 10px;
  width: fit-content;
}
/* the section of cards of detils of products */

/* discont ssection */

.discountproducts{
  margin-top: 30px;
  padding: 80px;
  background-image: url(../img/banner/b2.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
}
.discountproducts h4{
  font-size: 25px;
 font-size: 800;
 color: white;
}
.discountproducts h2{

 font-size: 800;
 color: white;
 padding: 10px 0px;
}
.discountproducts button{
  padding: 10px 20px;
  background-color: #E3E6F3;
  color: black;
  border-radius: 5px;
  border: none;
  font-weight: 600;

}
.discountproducts button:hover{
 background-color: #088168;
 
 color: #E3E6F3;

}
/* discont ssection */
/* ofer and deteils ssection */
.oferanddeteils .inneroferanddeteils .informations button{
  padding: 10px 20px;
  background-color: transparent;
  color: #E3E6F3;
  border: 1px solid #E3E6F3 ;
  font-weight: 600;
}
.oferanddeteils .inneroferanddeteils:hover .informations button{
 
  background-color: #088168;
 
  border-color: #088168;

}
.oferanddeteils .inneroferanddeteils:hover img{
  transform: scale(1.1);
}
.oferanddeteils .inneroferanddeteils  {
   position: relative; 
  overflow: hidden;   
  background-color: #1a1a1a;
  height: 300px;  
  
}
.oferanddeteils .inneroferanddeteils img {
  width: 100%;
  height: 100%;         
  object-fit: cover;     
  display: block;
  transition: all 0.5s ease-in-out; 
}

.oferanddeteils .inneroferanddeteils .informations {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;            
  flex-direction: column;    
  justify-content: center;   
  align-items: center;       
  text-align: center;
  background: rgba(0,0,0,0.4); 
  color: white;

 
}
.oferanddeteils .inneroferanddeteils .informations h4 ,
.oferanddeteils .inneroferanddeteils .informations p ,
.oferanddeteils .inneroferanddeteils .informations h2{

 
 color: #E3E6F3;
 font-weight: 800;
 
}
.oferanddeteils .inneroferanddeteils .informations h4{
  font-size: clamp(12px, 2vw, 18px); 
}

.oferanddeteils .inneroferanddeteils .informations h2{
font-size: clamp(16px, 3vw, 30px); 
}
/* ofer and deteils ssection */











